canvas {
    border: #000000 7px dashed;
    border-radius: 10px;
    margin: auto;
    margin-top: 2em;
}
@font-face {
    font-family: "Brush";
    src: url("../assets/fonts/CaveatBrush-Regular.ttf") format('truetype');
}
body{
    background-image: url("../assets/imgs/tileWeb.png");
}